.featuredContainer {
    display: flex;
    flex-direction: column;

    h2 {
        margin-left: 50px;
    }
}
.featuredItem {
    width: 60vw;
    height: 30vh;
    margin-left: 50px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

